header, footer {
    width: 100%;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.accordion {
    --bs-accordion-bg: #f9fbe4;
    --bs-accordion-color: #226b32;
    --bs-accordion-active-bg: #74a984;
    --bs-accordion-btn-bg: #c2e2bf;
    --bs-accordion-btn-color: #226b32;
    --bs-accordion-active-color: #226b32;
    --bs-accordion-border-color: #c2e2bf;
}

.hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.info-graphic {
    background-size: cover;
    background-position: center;
    height: 115vh;
}

.hero-text {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#itemCalculator .item-row {
    margin-bottom: 10px;
}

.card {
    border-color: #28a745;
}

.card-title {
    color: #155724;
}

.add-row {
    background-color: #5cb85c;
    color: white;
}

.add-row:hover {
    background-color: #4cae4c;
}

#totalImpact {
    color: #155724;
    font-weight: bold;
}

.eco-friendly-section {
    color: #333;
    padding: 20px;
}

.eco-header {
    color: #155724;
}

.eco-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #f0f0f0;
}

.counter {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#waterSaved {
    background: #ADD8E6;
}

#co2Saved {
    background: #B2BEB5;
}

#electricitySaved {
    background: #D9D9D9;
}

.count {
    font-size: 40px;
    color: #333333;
    margin: 0;
}

.counter p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #555;
}

.item-row:not(:last-child) .add-row {
    display: none;
}

#garbage {
    width: 100%;
    height: auto;
    transition: height 0.3s ease;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.blog-post {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.blog-title {
    color: #4CAF50;
    margin-bottom: 20px;
}

.intro-text, .conclusion-text {
    color: #333333;
}

.section {
    margin-bottom: 15px;
}

.section-title {
    color: #333333;
    font-size: 22px;
}

.section-content {
    color: #555555;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title-overlay {
    position: relative;
    bottom: 34px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.card-body {
    position: relative;
    top: -30px;
}

.card {
    position: relative;
}

.bg-image {
    background-size: cover;
    background-position: center;
}
.card-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.div1 {
    width: 300px;
    height: 100px;
    background-color: #74a984;
}