<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sustain N Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body style="background-color:rgba(248,254,229,255)">
<div th:insert="fragments/header.html :: header"/>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="card">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-6">
                    <div style="padding-top: 20px">
                        <h1 th:text="${item.name}"/>
                        <h3 th:text="'Donated By:' + ${item.donor.screenName}"/>
                        <p th:text="'Description: ' + ${item.description}" />
                        <p th:text="'Listed On: ' + ${#dates.format(item.dateListed, 'MM/dd/yyyy')}" />
                        <a th:href="@{/item/{id}(id=${item.itemID})}" class="btn btn-primary">I want it!</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <img th:src="@{'~/item-images/' + ${item.itemID} + '/' + ${item.itemImage}}" height="200" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html :: footer"/>
</body>
</html>